//Navbar, login and reigistration pages
// $main-bgColor: #1997fc;
$main-bgColor: linear-gradient(
  109.5deg,
  rgb(76, 221, 242) 11.2%,
  rgb(92, 121, 255) 91.1%
);
//$main-bgColor: #ffffff;
$header-bgColor: #fff;
$logo-Color: #22053e;

$btn-Color: #022279;
$btn-bgColor: #ffb600;

// $navLink-Color: #fbfcf8;
$navLink-Color: #022279;

$heroPrimary-Color: #22053e;
$heroSecondary-Color: #4e6ef1;

$formPrimary-Color: #25274d;
$formSecondary-Color: #2d4159;

$formShadow: #666;

//Customer features
$btnText-light: #fbfcf8;
$btnText-dark: #111111;
$search-btn: #ffffff;
$bookNow-btn: #ffb600;

$cancelNow-btn: #f01e1e;
