//Navbar, login and reigistration pages
$main-bgColor: #1997fc;
$logo-Color: #22053e;

$btn-Color: #ffffff;
$btn-bgColor: #22053e;

$navLink-Color: #fbfcf8;

$heroPrimary-Color: #22053e;
$heroSecondary-Color: #fbfcf8;

$formPrimary-Color: #25274d;
$formSecondary-Color: #2d4159;

$formShadow: #666;

//Login features
$btnText-light: #fbfcf8;
$bookNow-btn: #f510e2;
